# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\00_Django\03\task_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
